.footer{
    color: #d9d9d9;
    background-color: #323232;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 20px 8vw;
    padding-top: 80px;
    margin-top: 40px;
    border-radius: 15px 15px 0px 0px;

}

.footer-contents{
    width: 100%;
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    gap: 80px;
}

.footer-content-left, .footer-content-right, .footer-content-center{
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 20px;
}

.footer-content-left li, .footer-content-right li, .footer-content-center li{
    list-style: none;
    margin-bottom: 10px;
    cursor: pointer;
}

.footer-content-center h2, .footer-content-right h2{
    color: white;
}

.footer-content-left p{
    line-height: 1.2;
    font-size: 15px;
}


.footer-social-icons img{
    width: 40px;
    margin-right: 15px;
}


.footer hr{
    height: 2px;
    width: 100%;
    margin: 15px 0;
}

@media (max-width:750px){
    .footer-contents{
        display: flex;
        flex-direction: column;
        gap: 35px;
    }
}