.food-item{
    width: 100%;
    margin: auto;
    border-radius: 15px;
    box-shadow: 0px 0px 10px #000015;
    transition: 0.3s;
    animation: fadeIn 1s;
}

.food-item-image{
    width: 100%;
    border-radius: 15px 15px 0px 0px;
}

.food-item-info{
    padding: 20px;
}

.food-item-name-rating{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 8px;
}

.food-item-name-rating p{
    font-size: 20px;
    font-weight: 500; 
}

.food-item-name-rating img{
    width: 80px;
}

.food-item-desc{
    color: #676767;
    font-size: 15px;
    line-height: 1.2;
}

.food-item-price{
    color: tomato;
    font-size: 20px;
    font-weight: 500;
    margin: 8px 0;
}


.food-item-image-container{
    position: relative;
}

.food-item-image-container .add{
    width: 35px;
    position: absolute;
    bottom: 20px;
    right: 15px;
    cursor: pointer;
    border-radius: 50%;
}

.food-item-counter{
    position: absolute;
    bottom: 20px;
    right: 15px;
    background: rgba(255,255,255,0.9);;
    border-radius: 30px;
    display: flex;
    align-items: center;
    gap: 15px;
    padding: 6px;
}



.food-item-counter-image{
    width: 35px;
}